@font-face {
  font-family: "Glacial-Indifference-Regular";
  src: url("../fonts/Glacial-Indifference-Regular.ttf.woff") format("woff"),
    url("../fonts/Glacial-Indifference-Regular.ttf.svg#Glacial-Indifference-Regular")
      format("svg"),
    url("../fonts/Glacial-Indifference-Regular.ttf.eot"),
    url("../fonts/Glacial-Indifference-Regular.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
