.hero-background {
  background: rgba(0, 0, 0, 0.12);
}

.hero-form-background {
  backdrop-filter: blur(5.400000095367432px);
  background: rgba(174, 174, 174, 0.51);
}

.shadow-contact {
  box-shadow: 6px 0 20px 0 rgba(0, 0, 0, 0.03);
}
